<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{# TODO #}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% stylesheets filter="cssrewrite" output="css/pagelayout_oropolis.css"
            "assets/css/bootstrap.min.css"
        %}
        <link rel="stylesheet" href="{{ fix_assetic_path(asset_url) }}" />
        {% endstylesheets %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            {# TODO #}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {# TODO #}
        </footer>
        {% javascripts
        'assets/js/jquery.min.js'
        'assets/js/bootstrap.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}                
        {% block javascripts %}
        {% endblock %}
    </body>
</html>