/vendor/
.php~
/nbproject/
/.idea/
/bin/behat
/bin/phpunit
/ezpublish/cache/
!/ezpublish/cache/.keep
/ezpublish/logs/
!/ezpublish/logs/.keep
/ezpublish_legacy/autoload/
/ezpublish_legacy/var/autoload/
/ezpublish_legacy/var/cache/
/ezpublish_legacy/var/*/cache/
/ezpublish_legacy/var/*_site/
/ezpublish_legacy/var/log/
/ezpublish_legacy/var/*/log/
/ezpublish_legacy/var/storage/
/ezpublish_legacy/var/test*
/ezpublish_legacy/.project
/ezpublish_legacy/.idea/
/ezpublish_legacy/nbproject/
/ezpublish_legacy/bin/linux/ezlupdate
/ezpublish_legacy/bin/win32
*.DS_Store
/ezpublish/config/parameters.yml
/ezpublish/config/ezpublish_prod.yml
/ezpublish/config/ezpublish_dev.yml
/ezpublish/sessions
/ezpublish/bootstrap.php.cache
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/bundles/
/web/design
/web/extension
/web/share
/web/var
/web/.htaccess
composer.phar
.buildpath
.project
.settings/
/ezpublish_legacy/bin
/ezpublish_legacy/cronjobs
/ezpublish_legacy/design
/ezpublish_legacy/doc
/ezpublish_legacy/extension/ezautosave
/ezpublish_legacy/extension/ezdemo
/ezpublish_legacy/extension/ezflow
/ezpublish_legacy/extension/ezformtoken
/ezpublish_legacy/extension/ezgmaplocation
/ezpublish_legacy/extension/ezie
/ezpublish_legacy/extension/ezjscore
/ezpublish_legacy/extension/ezmultiupload
/ezpublish_legacy/extension/ezodf
/ezpublish_legacy/extension/ezoe
/ezpublish_legacy/extension/ezprestapiprovider
/ezpublish_legacy/extension/ezstarrating
/ezpublish_legacy/extension/ezmbpaex
/ezpublish_legacy/extension/ezwt
/ezpublish_legacy/extension/ngsymfonytools
/ezpublish_legacy/benchmarks
/ezpublish_legacy/templates
/ezpublish_legacy/tests
/ezpublish_legacy/.gitignore
/ezpublish_legacy/composer.json.dist
/ezpublish_legacy/LICENSE
/ezpublish_legacy/kernel
/ezpublish_legacy/lib
/ezpublish_legacy/schemas
/ezpublish_legacy/settings
/ezpublish_legacy/share
/ezpublish_legacy/support
/ezpublish_legacy/update
/ezpublish_legacy/var
/ezpublish_legacy/.htaccess_root
/ezpublish_legacy/.travis.yml
/ezpublish_legacy/autoload.php
/ezpublish_legacy/composer.json
/ezpublish_legacy/config.php-RECOMMENDED
/ezpublish_legacy/ezpm.php
/ezpublish_legacy/ezpublish.cron
/ezpublish_legacy/index.php
/ezpublish_legacy/index_cluster.php
/ezpublish_legacy/index_rest.php
/ezpublish_legacy/index_treemenu.php
/ezpublish_legacy/kickstart.ini-dist
/ezpublish_legacy/README.md
/ezpublish_legacy/runcronjobs.php
/ezpublish_legacy/soap.php
/ezpublish_legacy/webdav.php